In [1]:
from pyspark.sql import functions as F

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("pyspark-nb-1").\
        master("spark://spark-master:7077").\
        config("spark.sql.adaptive.coalescePartitions.enabled", False). \
        config("spark.executor.memory", "1G").\
        config("spark.eventLog.enabled", "true").\
        config("spark.eventLog.dir", "file:///opt/workspace/events").\
        config("spark.sql.shuffle.partitions",10)
        getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/10 03:37:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
import os
os.getcwd()

'/opt/workspace/notebooks'

In [5]:
# Emp Data & Schema

emp_data = spark.read.csv('/opt/workspace/datain/ratings.csv', header=True, inferSchema=True)
emp_data.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

In [6]:
emp_data.show(10)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    110|   1.0|1425941529|
|     1|    147|   4.5|1425942435|
|     1|    858|   5.0|1425941523|
|     1|   1221|   5.0|1425941546|
|     1|   1246|   5.0|1425941556|
|     1|   1968|   4.0|1425942148|
|     1|   2762|   4.5|1425941300|
|     1|   2918|   5.0|1425941593|
|     1|   2959|   4.0|1425941601|
|     1|   4226|   4.0|1425942228|
+------+-------+------+----------+
only showing top 10 rows

In [8]:
emp_data.rdd.getNumPartitions()

6

In [15]:
grouped_df =emp_data.groupby("movieId").agg(F.avg('rating').alias("avg_rating")).orderBy(F.desc("avg_rating"))

In [16]:
grouped_df.show(10)

+-------+----------+
|movieId|avg_rating|
+-------+----------+
| 167666|       5.0|
| 111546|       5.0|
| 116108|       5.0|
| 169866|       5.0|
| 165381|       5.0|
| 143717|       5.0|
| 148084|       5.0|
| 157575|       5.0|
| 167464|       5.0|
| 117352|       5.0|
+-------+----------+
only showing top 10 rows

In [ ]:
emp_final.show()

In [ ]:
agg_df =emp_final.select('department_id', 'salary').groupBy('department_id').agg(F.avg('salary').alias("avg_salary"))

In [ ]:
agg_df.show()